
@{
    ViewBag.Title = "OneAssApplyJoin";
    Layout = "~/Views/Shared/Admin_Layout_Ass.cshtml";
}
<div>
	<h2>OneAssApplyJoin</h2>
	<div>
		@ViewData["id"]
	</div>
	<div>
		@ViewData["associationid"]
	</div>
	<div>
		@ViewData["hobbyspeciality"]
	</div>
	<div>
		@ViewData["applyreason"]
	</div>
	<div>
		@ViewData["personalintro"]
	</div>
	<div>
		@ViewData["auditstatus"]
	</div>
	<div>
		@ViewData["create_time"]
	</div>
	<div>
		@ViewData["associationname"]
	</div>
	<div>
		@ViewData["realname"] = newinfo[8];
	</div>
</div>

