@*
	amount：数据总数，count：每页显示的数据条数，redierctUrl点击按钮时的跳转链接
	页面上需引用：bootstrap.min.css
*@
@helper CreatePaginateButton(int amount, int count, string redirectUrl)
{
	<div id="pagenumber" style="position:fixed;bottom:-15px;text-align:center;width:84%">
		<nav style="text-align:center">
			<ul class="pagination">
				<li><a href="@redirectUrl/1" rel="external nofollow">首页</a></li>
				@{
					int pageNumber = (int)Math.Ceiling(amount / (count * 1.0));
					pageNumber = pageNumber < 1 ? 1 : pageNumber;
					//页面上显示的按钮数目（不计首页、末页、上一页、下一页等按钮），若页面总数超过该值则绘制按钮分隔符
					const int BUTTON_COUNT = 7;
					// 按钮分隔符
					const string BUTTON_SEPARATOR = "......";
					//按钮分隔符左侧按钮数目（不计首页、末页、上一页、下一页等按钮）
					const int LEFT_BUTTON_COUNT = 4;
					//按钮分隔符右侧按钮数目（不计首页、末页、上一页、下一页等按钮）
					const int RIGHT_BUTTON_COUNT = 2;

					string[] urlSegments = Request.Url.Segments;
					int selectedIndex = 0;
					int.TryParse(urlSegments[urlSegments.Length - 1], out selectedIndex);
					int previous = (selectedIndex - 1) <= 0 ? 1 : selectedIndex - 1;
					int next = (selectedIndex + 1 > pageNumber) ? pageNumber : selectedIndex + 1;
					var r = Request.Cookies[""];
					if (pageNumber > BUTTON_COUNT)
					{
						<li><a id="next" href="@redirectUrl/@previous" rel="external nofollow">上一页</a></li>
						for (int i = 1; i <= BUTTON_COUNT; i++)
						{
							if (selectedIndex >= LEFT_BUTTON_COUNT && selectedIndex % LEFT_BUTTON_COUNT == 0 && i <= LEFT_BUTTON_COUNT)
							{
								<li><a name="pageButton" id="@selectedIndex" href="@redirectUrl/@selectedIndex" rel="external nofollow">@selectedIndex</a></li>
								int step = selectedIndex;
								int tag = 0;
								for (i = 1; i <= LEFT_BUTTON_COUNT; i++)
								{
									tag = i + step;
									if (tag > pageNumber - RIGHT_BUTTON_COUNT)
									{
										if (i <= LEFT_BUTTON_COUNT)
										{
											i = LEFT_BUTTON_COUNT + 1;
										}
										break;
									}
									<li><a name="pageButton" id="@tag" href="@redirectUrl/@tag" rel="external nofollow" rel="external nofollow">@tag</a></li>
								}
							}
							else if (i <= LEFT_BUTTON_COUNT && selectedIndex < LEFT_BUTTON_COUNT)
							{
								<li><a name="pageButton" id="@i" href="@redirectUrl/@i" rel="external nofollow" rel="external nofollow">@i</a></li>
							}
							else if (i < LEFT_BUTTON_COUNT && selectedIndex > LEFT_BUTTON_COUNT)
							{
								int step = selectedIndex / LEFT_BUTTON_COUNT;
								int tag = 0;
								<li><a name="pageButton" id="@(step*LEFT_BUTTON_COUNT)" href="@redirectUrl/@(step*LEFT_BUTTON_COUNT)" rel="external nofollow">@(step * LEFT_BUTTON_COUNT)</a></li>
								for (i = 1; i <= LEFT_BUTTON_COUNT; i++)
								{
									tag = i + step * LEFT_BUTTON_COUNT;
									if (tag > pageNumber - RIGHT_BUTTON_COUNT)
									{
										if (i <= LEFT_BUTTON_COUNT)
										{
											i = LEFT_BUTTON_COUNT + 1;
										}
										break;
									}
									<li><a name="pageButton" id="@tag" href="@redirectUrl/@tag" rel="external nofollow" rel="external nofollow">@tag</a></li>
								}
							}
							//绘制按钮分隔符右侧按钮
							if (i == BUTTON_COUNT - 1)
							{
								<li><a name="pageButton" id="@(pageNumber-1)" href="@redirectUrl/@(pageNumber-1)" rel="external nofollow">@(pageNumber - 1)</a></li>
							}
							else if (i == BUTTON_COUNT)
							{
								<li><a name="pageButton" id="@pageNumber" href="@redirectUrl/@pageNumber" rel="external nofollow" rel="external nofollow">@pageNumber</a></li>
							}
							//绘制按钮分隔符
							else if (i >= BUTTON_COUNT - RIGHT_BUTTON_COUNT)
							{
								<li><span name="pageButton">@BUTTON_SEPARATOR</span></li>
							}
						}
						<li><a id="next" href="@redirectUrl/@next" rel="external nofollow">下一页</a></li>
					}
					else
					{
						for (int i = 1; i <= pageNumber; i++)
						{
							<li><a name="pageButton" id="@i" href="@redirectUrl/@i" rel="external nofollow" rel="external nofollow">@i</a></li>
						}
					}
				}
				<li><a href="@redirectUrl/@pageNumber" rel="external nofollow" rel="external nofollow">末页</a></li>
			</ul>
		</nav>
	</div>
	<script>
    $(function () {
      //设置被选中按钮的背景色
      var selected = $('#@selectedIndex');
      if (selected != undefined) {
        selected.css('background-color', '#E1E1E1');
      }
	</script>
}
